[submodule "testchipip"]
	path = testchipip
	url = https://github.com/ucb-bar/testchipip.git
[submodule "rocket-chip"]
	path = rocket-chip
	url = https://github.com/chipsalliance/rocket-chip.git
[submodule "rocket-chip-inclusive-cache"]
	path = rocket-chip-inclusive-cache
	url = https://github.com/chipsalliance/rocket-chip-inclusive-cache.git
[submodule "rocket-chip-blocks"]
	path = rocket-chip-blocks
	url = https://github.com/chipsalliance/rocket-chip-blocks.git
[submodule "examples/sky130-chip/digital-chip/shuttle"]
	path = examples/sky130-chip/digital-chip/shuttle
	url = https://github.com/ucb-bar/shuttle.git
[submodule "examples/sky130-chip/digital-chip/saturn-vectors"]
	path = examples/sky130-chip/digital-chip/saturn-vectors
	url = https://github.com/kevindna/saturn-vectors.git
[submodule "constellation"]
	path = constellation
	url = https://github.com/ucb-bar/constellation.git
